.aboutTitle {
  display: inline-block;
  letter-spacing: 0.2rem;
  margin-bottom: 1vh;
}
.portfolioSection {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 100vw;
  display: none;
  margin-top: 10vh;
  margin-left: 100px;
  margin-right: 5vw;
  padding: 3vh 2.5vw;
  backdrop-filter: blur(2px) saturate(150%);
  background: linear-gradient(
    to left top,
    #f8d03d3b,
    RGBA(31, 55, 120, 0.3),
    RGBA(82, 8, 32, 0.5),
    RGBA(60, 36, 50, 0.3),
    RGBA(41, 4, 16, 0.1)
  );
  font-size: 1.2rem;
  border-radius: 20px;
  width: calc(100vw - 400px);
  max-height: 70vh;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  scrollbar-color: #e0e1dd transparent;
  overflow-y: auto;
  scrollbar-color: #e0e1dd transparent;
  max-height: 80vh;
}
.typeOfArtsS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc((100vw - 400px)-5vw);
}
.artImg {
  width: 100%;
  border-radius: 3vw;
}
.artSection {
  margin: 1vw 2vh;
  width: calc(33% - 4vh);
}
.portTitle {
  font-style: none;
  position: sticky;
  width: 75%;
  background-color: transparent;
}
.artTitle {
  position: absolute;
  margin: 0;
  backdrop-filter: blur(2px) saturate(150%);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-left: calc((100vw - 400px) * 0.43 * 2 / 3 / 5);
  text-align: center;
  color: aliceblue;
  width: 20%;
}
.portBack {
  display: none;
  font-family: 'Raleway', sans-serif;
  border-style: none;
  border-radius: 1vh;
  font-size: 1rem;
  align-items: center;
  background-color: rgba(31, 55, 100, 0.2);
  backdrop-filter: blur(2px);
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}
.artSection:hover {
  /*width: 25.33;*/
  scale: 110%;
}
.warningSoon {
  font-weight: 700;
}
.chowArt {
  display: grid;
  margin: 0;
  width: 100%;
  grid-row: 1;
  flex-grow: 1;
  justify-content: center;
}
.desciption {
  font-weight: 500;
  flex-grow: 1;
  display: inline;
  /*text-align: center;*/
}
.illustrate {
  width: 100%;
}
